@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    /*Primary*/
    --Linear-gradient1: hsl(249, 99%, 64%); /* Lienar to active input border*/
    --Linear-gradient2: hsl(278, 94%, 30%);
    --Red: hsl(0, 100%, 66%); /* input errors*/
    
    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    

    /*Fonts*/
    --family: 'Space Grotesk', sans-serif;
    --size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--family);
    font-size: var(--size);
}

html, body {
    overflow-x: hidden;
}


header {
    background: url("../images/bg-main-mobile.png")  
}

#card-back {
    text-align: right;
}

#card-back > img, #card-front >img  {
    width: 70%;
    margin: 1rem;
}

#card-back > img {
    margin-right: 0.5rem;
}

#card-front {
    padding-left: 1rem;
}
#card-front >img {
    position: absolute;
    left:0.1rem;
    top: 3rem;
}

img#logo {
    width: 2.5rem;
    top: 4.2rem;
    left: 0.8rem;
    z-index: 1;
}
.snumber, .sname, .sexp, .scvc {
    display: block;
    color: var(--White);
    position: absolute;
    margin-inline: 1rem;
}

.snumber {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
    top: 8.3rem;    
}
.sname, .sexp {
    font-size: 0.8rem;
}

.sexp {
    right: 6rem;
}

.scvc {
    top: 4.1rem;
    right: 1rem;
}

.error-msg {
    color: var(--Red);

}

form {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    font-size: 0.8rem;
    line-height: 2rem;
}

label {
    margin-bottom: 0.1rem;
    font-weight: bold;
}

input {
    height: 2.2rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
}

input:active {
    background-image: linear-gradient(to top, var(--Linear-gradient2), var(--Linear-gradient1));
}

.btn {
    margin-top: 1.5rem;
    padding-block: 0.5rem;
    font-size: 1rem;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    border-radius: 0.5rem;
    cursor: pointer;
}


.fdate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


#tdate {
    grid-area: 1 / 1 / span 1 / span 2;
}
#tcvc {
    grid-area: 1 / 3 / span 1 / span 2;
}
.info {
    grid-area: 2 / 1 /span 1 /span 2;
}

.error-date {
    grid-area: 3 / 1 /span 1/ span 2;
}

.error-cvc {
    grid-area: 3 / 3 /span 1/ span 2;
}

#imonth {
    /*grid-area: 2 / 1 / span 1 / span 1;*/
    width: 4rem;
}
#iyear {
    /*grid-area: 2 / 2 / span 1 / span 1;*/
    width: 4rem;
} 
#icvc {
    grid-area: 2 / 3 / span 1 / span 2;
}

.complete {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


.complete >img {
    width: 18vw;
}

.complete h1 {
    font-size: 1.5rem;
    padding-top: 2rem;
    font-weight: bold;
}

.complete p {
    padding: 1.5rem;
}

.complete button {
    margin-bottom: 5rem;
    width: 90%;
}

footer {
    text-align: center;
}
h4 {
    font-size: 0.8rem;
}


